{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron">
        <h1>
          WireHound File Management
        </h1>
        Hello, {{ current_user.username }}. This is your private storage of files. <br><br>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-checkbox/1.5.0/js/bootstrap-checkbox.js" integrity="sha256-EHzRVmay+anWq3fNt5n10TSFc0cxzuB5BYOqpM+Vitg=" crossorigin="anonymous"></script>

        <div class="container">
          <div class="row clearfix">
            <div class="col-md-12 column">
              <button class="btn btn-outline-primary" data-toggle="modal" data-target="#uploadmodal">Upload</button>

              <!-- Modal -->
              <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">

                      <h4 class="modal-title" id="myModalLabel">Upload A File</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    </div>
                    <div class="modal-body">
                      Please upload a traffic file (*.pcap)
                    </div>
                    <div class="modal-footer">
                      {{ wtf.quick_form(upform, action=url_for('upload'), button_map={'submit': 'primary'}) }}
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal -->
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row clearfix">
            <div class="col-md-12 column">
              <form action="{{ url_for('delete') }}" method="post" class="form" role="form"
                                                                                enctype=multipart/form-data
                                                                                button_map={'submit':'danger'}>

                {{ deform.hidden_tag() }}
                <table class="table" id="filetable">
                  <thead>
                    <tr>
                      <th>Select</th>
                      <th>Filename</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for f in deform %}
                    {% if f.type == "BooleanField" %}
                    <tr>
                      <td>
                        {{ f }}
                      </td>
                      <td>
                        <a href = "{{ url_for('filter', file=f.label.text) }}">
                          {{ f.label.text }}
                        </a>
                      </td>
                    </tr>

                    {% endif %}
                    {% endfor %}

                  </tbody>
                </table>

                {{ wtf.form_field(deform.submit, button_map={'submit':'danger'}) }}
              </form>
            </div>
          </div>
        </div>





      </div>

    </div>
  </div>
</div>
{% endblock %}
