{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron">

        <h2>
          Register
        </h2>
        <form action="" method="post" class="form" role="form">
          {{ form.hidden_tag() }}
          {{ wtf.form_errors(form, hiddens="only") }}
          <p>
          {{ wtf.form_field(form.username, class='form-control', placeholder='Ludwig') }}
          {{ wtf.form_field(form.password, class='form-control', placeholder='6~32 digits') }}
          {{ wtf.form_field(form.password2, class='form-control', placeholder='Repeat password') }}
          {{ wtf.form_field(form.email, class='form-control', placeholder='Houndmaster@guild.com') }}
          {{ wtf.form_field(form.submit, class='form-submit') }}
          </p>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
