{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			
      <div class="jumbotron">
        <h1>
          WireHound Report
        </h1>
        <p>
          This is the final results analyzed by WireHound. In this page you can view the interactive graph of your file [{{ filepath }}], download
          the graph in JSON/HTML format and download the report showing the metrics of this graph.
        </p>

        <div class="row clearfix">
          <div class="col-md-12 column">
            <div class="main_container">
              <div class="embed-responsive  embed-responsive-16by9" id="embedHtml" align="center" >
                <iframe src= "/display/{{ file }}" width="100%" height="100%" frameborder="1" scrolling="auto" ></iframe>
              </div>
            </div>
          </div>
        </div>
        
      
        <div class="row clearfix">
          <div class="col-md-12 column">
              <button type="button" class="btn btn-outline-primary dropdown-toggle" role="menu" data-toggle="dropdown">Download<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  <li><a role="menuitem" href="/download/{{ file }}/data"> Report </a></li>
                  <li><a role="menuitem" href="/download/{{ file }}/json"> TDG JSON </a></li>
                  <li><a role="menuitem" href="/download/{{ file }}/html"> Rendered HTML </a></li>
              </ul>
      
              <button class="btn btn-outline-dark" type="button" id="backtoindex"><em class="glyphicon glyphicon-align-justify"></em> Back to File Management</button>
              <script>
                document.getElementById('backtoindex').onclick = function backtoindex() {
                  window.location.replace('/index')
                }
              </script>
          </div>
        </div>
       </div>
		</div>
  </div>
</div>
{% endblock %}
